<!DOCTYPE html>
<html>

<head>
    <title>Change Password</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
            background-color: #e6baba;
        }

        .signup-container {
            background-color: #eddf74;
            border-radius: 10px;
            box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
            padding: 30px;
            width: 400px;
            display: flex;
            flex-direction: column;
        }

        .signup-container h2 {
            text-align: center;
            margin-bottom: 30px;
            color: #333;
        }

        .signup-form input {
            width: 100%;
            padding: 12px;
            margin-bottom: 15px;
            border: 1px solid #ccc;
            border-radius: 5px;
            font-size: 16px;
        }

        .signup-form button {
            width: 100%;
            padding: 12px;
            border: none;
            border-radius: 5px;
            background-color: #4CAF50;
            color: #fff;
            font-size: 16px;
            cursor: pointer;
        }

        .signup-form button:hover {
            background-color: #45a049;
        }

        .signup-form p {
            text-align: center;
            margin-top: 15px;
        }

        .signup-form p a {
            color: #2636a9;
        }

        .button {
            width: 40%;
            padding: 12px;
            border: none;
            border-radius: 5px;
            background-color: #0033ff;
            color: #fff;
            font-size: 16px;
            cursor: pointer;
            margin-right: 10px;
        }
    </style>
</head>

<body>
    <div>
        <ul>
            <li id="task1" style="color:red;">Password should contain minimum 8 character</li>
            <li style="color: red;" id="task2">Password should contain minimum 1 special character and 1 number </li>
            <li id="task3" style="color: red;">Confirm Password </li>
        </ul>
    </div>
    <div class="signup-container" id="div1">
        <h2>Password Page</h2>
        <label for="password1">Enter Password:</label>
        <input type="password" id="p1" name="password1" placeholder="New Password" required><br><br>
        <label for="password2">Corfirm Password:</label>
        <input type="password" id="p2" name="password" placeholder="Confirm Password" required><br><br>
        <input type="submit" id="button"><br><br>
        <button id="home" class="button">Go to home</button>
    </div><br><br>
    
    <script >
        const pass = document.getElementById("p1");
            const conpass = document.getElementById("p2");
            const button = document.getElementById("button");
            const task1 = document.getElementById("task1");
            const task2 = document.getElementById("task2");
            const task3 = document.getElementById("task3");
            const button2 = document.getElementById("home");
            const p = document.createElement("p");
            const div1 = document.getElementById("div1");
            var format = /^(?=.*[-#$.%&@!+=\\*])(?=.*\d)/;
            button2.addEventListener("click", function () {
                window.location.href = "/";
            });
            pass.addEventListener("keyup", function () {
                let value = pass.value;
                if (value.length < 8) {
                    task1.style.color = "red";
                }
                else {
                    task1.style.color = "green";
                }
                if (value.match(format)) {
                    task2.style.color = "green";
                }
                else {
                    task2.style.color = "red";
                }
            });
            conpass.addEventListener("keyup", function () {
                let value = conpass.value;
                if (value == pass.value && conpass.value != "") {
                    task3.style.color = "green";
                }
                else {
                    task3.style.color = "red";
                }
            });
            button.addEventListener("click", function () {
                if (pass.value.length >= 8 && pass.value.match(format).input && conpass.value != "" && pass.value != "" && pass.value == conpass.value) {
                    fetch("/changepassword", {
                        method: "POST",
                        headers: { 'Content-Type': "application/json" },
                        body: JSON.stringify({ password: pass.value }),
                    }).then(function (response) {
                        if (response.status === 200) {
                            p.innerHTML = "Password Updated";
                            p.style.color = "green";
                            div1.appendChild(p);
                        }
                        else {
                            p.innerHTML = "Error..!!";
                            p.style.color="red";
                            div1.appendChild(p);
                        }
                    });
                }
                else {
                    p.innerHTML = "Password does not match the conditions";
                    p.style.color = "red";
                    div1.appendChild(p);
                }
            });
    </script>
</body>

</html>